@charset "UTF-8";
@font-face {
  font-family: "Arial-MT";
  src: url("./assets/fonts/Arial-MT.woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 350px;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.background {
  height: 100vh;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.search {
  display: flex;
  width: auto;
  transition: 500ms;
}

.search-image {
  height: 20px;
  margin: 0 10px;
}

.search-input {
  color: white;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.search-input:hover {
  border-bottom: solid #c6c6c6;
}

.search-input:focus {
  outline: none;
  border-bottom: solid #fff;
}

.item-active::before {
  color: #c5b358;
}

.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  transition: 500ms;
}

.weather-error {
  margin-top: 10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.search-image {
  width: 32px;
  height: 32px;
  background-image: url("./assets/svg/search.svg");
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.slide-prev {
  left: 20px;
  background-image: url("./assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("./assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
  transition: 500ms;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: 500ms;
}

.greeting-wrapper {
  transition: 500ms;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: 500ms;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.settings-corner {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  width: 10%;
  margin: 0 0 20px 20px;
}

.todo {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin: 0;
  transition: 500ms;
}

.settings-icon {
  position: absolute;
  cursor: pointer;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  scale: 1;
  background-image: url("./assets/svg/settings.svg");
  background-size: contain;
  cursor: pointer;
}

.settings-container {
  position: absolute;
  width: auto;
  min-width: 350px;
  height: 400px;
  bottom: 40px;
  left: 10px;
  background: #f8f8f8;
  border-radius: 10px;
  color: #212121;
  font-size: 20px;
  transition: 500ms;
  z-index: 1;
}

.settings-container_opaque {
  opacity: 0;
  visibility: hidden;
}

.opaque {
  opacity: 0;
  visibility: hidden;
  min-height: 0;
  height: 0;
}

.settings-pages {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eee;
}

.settings-pages_opaque {
  display: none;
}

.settings-pages__item {
  cursor: pointer;
}

.settings-pages__item_focused {
  font-weight: 700;
}

.settings-title {
  font-weight: 700;
  margin: 10px 0 10px 0;
}

.menu-list {
  list-style: none;
}

.menu-item {
  font-size: 18px;
  padding-top: 10px;
  padding: 0 50px 0 50px;
}

.menu-item-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ccc solid 0.25px;
}

.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
  margin: 7px 0 7px 50px;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: #7edc74;
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #4d4d4d;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}

.api-settings_choices {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px 0;
  border-bottom: 2px solid #333;
  border-radius: 0 0 10px 10px;
}

.api-settings_choices {
  cursor: pointer;
  font-size: 18px;
}

.api-settings_choice_chosen {
  font-weight: 700;
}

.api-settings_tags {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #333;
  border-radius: 0 0 10px 10px;
}

.tags-input {
  margin: 10px 5px 0 5px;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 0 0 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.tags-input:focus {
  color: #333;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  transition: 500ms;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("./assets/svg/reload.svg");
}

.quote {
  z-index: 0;
  min-height: 32px;
  transition: 500ms;
}

.author {
  min-height: 20px;
}

/* task block */
.task__text-inputs {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  min-height: 21px;
  padding: 0 10px;
  overflow: hidden;
  word-break: break-all;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  color: #888;
}

.task__text-inputs:focus {
  color: #333;
}

.task__text-labels {
  padding: 0 10px;
  overflow: hidden;
  word-break: break-all;
}

/* list-item block */
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.list-item > * {
  vertical-align: middle;
}

/* Edit Task */
.list-item .task__text-inputs {
  word-break: break-all;
  overflow: hidden;
  display: none;
}

.list-item.edit-mode .text-inputs {
  display: inline-block;
  width: 224px;
}

.list-item.edit-mode .task__text-inputs {
  display: inline-block;
  width: 100%;
  max-width: 327px;
}

.list-item.edit-mode .text-labels {
  display: none;
}

.list-item.edit-mode .task__text-labels {
  display: none;
}

.list-item__buttons {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.list-item__buttons:hover {
  color: #3a3a3a;
}

.list-item .list-item__checkbox-inputs {
  margin: 0 10px;
}

.list-item__main {
  width: 56%;
  display: inline-block;
  text-align: start;
  flex-grow: 1;
  padding-left: 0;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

/* Completed */
#completed-tasks .list-item__main {
  text-decoration: line-through;
  color: #888;
}

.remove-button-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.remove-button-img:hover {
  transform: rotateZ(0);
}

/* lists block */
.lists {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.lists__content {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  color: #333;
}

/* section-titles block */
.section-titles {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  border-radius: 0 0 10px 10px;
  padding: 10px 0 10px;
  margin: 0;
}

/* new-task block */
.new-task__titles {
  display: block;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  margin: 10px 0 10px;
  padding: 0 0 10px;
}

.new-task__text-inputs {
  margin: 0 5px;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 0 0 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}

.new-task__text-inputs:focus {
  color: #333;
}

.new-task__wrapper {
  display: flex;
}

.new-task__buttons {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.new-task__buttons:hover {
  color: #3a3a3a;
}

/* main-page block */
.toggle-todo {
  position: absolute;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
}

.todo-menu {
  background-color: #f8f8f8;
  border-radius: 10px;
  opacity: 0;
  position: absolute;
  right: 10px;
  bottom: 40px;
  margin: 0 auto 0;
  z-index: 1;
  min-width: 380px;
  transition: 500ms;
}

.todo-menu.todo-menu_active {
  opacity: 1;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }
  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }
  .greeting {
    padding: 5px;
  }
  .name {
    font-size: 32px;
    padding: 5px;
  }
}
